<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | model3</title>
    <link rel="shortcut icon" href="static/TemplateData1/favicon.ico">
    <link rel="stylesheet" href="static/TemplateData1/style.css">
    <script src="static/TemplateData1/UnityProgress.js"></script>
    <script src="static/Build1/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "static/Build1/build.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">model3</div>
      </div>
    </div>
  </body>
</html>
